body{
    background-image: url(../assets/chalkboard-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #bacfd6;*/
    /*color: #203036;*/
    color: white;
}

/********** Resume *******************/
#resume{
    display: flex;
    flex-wrap: wrap;
}

/*****************************************/

a img:hover {
    border: 2px solid #36515b;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Walter Turncoat", cursive;
    color: white;
}

#navbarHeader{
    font-family: "Walter Turncoat", cursive;
}

#mainContent {
    /*font-family: "Walter Turncoat", cursive;*/
    font-family: "Pangolin", cursive;
    font-weight: 300;
}

#mainContent h2{
    font-weight: 400;
}

#pageHeader{
        font-size: 3.5rem;
}

@media (max-width: 500px){
    #pageHeader{
        font-size: 2.5rem;
    }

    #mainContent h2{
        font-weight: 400;
        font-size: 1.5rem;
    }

    #mainContent p{
        font-weight: 400;
        font-size: 1rem;
    }
}